@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=vietnamese'
body{
  font-size: 15px;
  font-family: 'Times New Roman', Times, serif;
}
.top{
  outline: 2px solid #800080; 
  border: 6px solid #fff0f5;
  border-radius: 15px;
  padding: 150px;
  font-size: 60px;
  text-transform: uppercase;
  text-align:'justify';
  background: #bc8f8f;
}
.top-bl{
  outline: 1px solid #800000; 
  border: 4px solid #fff;
  border-radius: 10px;
  color: #d2b48c;
  background: #d2b48c;
  padding: 30px;
  text-align: justify;
}
.top-bl .basket{
  float: right;
  color: #f5deb3;
  font-size: 20px;
}
#sidebar ul{
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  outline: 1px solid #800000; 
  border: 4px solid #fff;
  border-radius: 10px;
}
#sidebar ul li{
  padding: 5px 10px;
}
#sidebar ul li.selected{
  background:#eee8aa;
  color: #800000;
  border-radius: 3px;
}
#sidebar ul li.selected a{
  color: #800000;
}
.items{
  margin-top: 20px;
  outline: 1px solid #800000; 
  border: 4px solid #fff;
  border-radius: 10px;
}
.item{
  text-align: center;
  margin-bottom: 30px;

}
.item a img{
  margin-bottom: 15px;
}
.dish-detail{
  margin-top: 40px;

}
.price{
  font-weight: 600;
  font-size: 20px;
  color: #800080;
}
.dish-detail h2{
  font-size: 18px;
}
form.add{
  margin-bottom: 10px;
}
form.add label{
  margin-right: 10px;
}
#id_quantity{
  padding: 5px 10px;
  border-radius: 3px;
}
form.add input[type="submit"]{
  background: #e6e6fa;
  border-radius: 3px;
  border: 0;
  padding: 5px 10px;
  color: #4681B4;
}
.table-basket{
  width: 100%;
  margin: 10px 0;
  color: #800000;
  background: #800080;
}

.basket-img{
  width: 10%;
  color: #20b2aa;
}
th, td{
  padding: 5px;
}
thead{
  background: #d2b48c;
  color: #f5deb3;
}
.btn{
  background: #E6E6FA;
  color: #4681B4;
}
.btn-light{
  background: #e6e6fa;
}
.order-info order-info col-sm-8{
  margin-bottom: 20px;
  text-align:right;
}
.order-form{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:center;
}
.order-form label{
  display: block;
  text-align:center;
}
.order-form input{
  width: 100%;
  padding: 5px 10px;
}
.total{
  color:#191970;
  text-align:right;
}
.num{
  color:#800000;
}


body {
  font-family: 'Merriweather';
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.2px;
  background-color: #ffffff;
}

a:focus {
  outline: none;
}

strong,
u {
  color: #444444;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

.button,
button,
input[type=button],
input[type=submit] {
  box-shadow: none;
  color: #ffca47;
  border: 1px solid #ffca47;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Montserrat';
  font-style: normal;
  text-transform: uppercase;
  padding: 10px 35px;
  border-radius: 30px;
  background-color: transparent;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.button:hover,
button:hover,
input[type=button]:hover,
input[type=submit]:hover {
  text-decoration: none;
  background-color: #ffca47;
  color: #fff;
}

.button.full,
button.full,
input[type=button].full,
input[type=submit].full {
  width: 100%;
}

.button.fill,
button.fill,
input[type=button].fill,
input[type=submit].fill {
  background-color: #ffca47;
  color: #444444;
}

.button.fill:hover,
button.fill:hover,
input[type=button].fill:hover,
input[type=submit].fill:hover {
  background-color: transparent;
  color: #ffca47;
  border: 1px solid #ffca47;
}

.button.fill.black,
button.fill.black,
input[type=button].fill.black,
input[type=submit].fill.black {
  background-color: #222222;
  border-color: #222222;
  color: #fff;
}

.button.fill.black:hover,
button.fill.black:hover,
input[type=button].fill.black:hover,
input[type=submit].fill.black:hover {
  background-color: transparent;
  color: #444444;
}

.button.rectangle,
button.rectangle,
input[type=button].rectangle,
input[type=submit].rectangle {
  border-radius: 0px;
}

.button.small,
button.small,
input[type=button].small,
input[type=submit].small {
  font-weight: 300;
  font-size: 12px;
  padding: 12px 35px;
  line-height: 1em;
}

.button.text-light,
button.text-light,
input[type=button].text-light,
input[type=submit].text-light {
  color: #fff;
}

.button.go,
button.go,
input[type=button].go,
input[type=submit].go {
  position: relative;
  border: 1px solid #ffca47;
  color: #444444;
  overflow: hidden;
  padding-right: 60px;
  padding-left: 25px;
}

.button.go::after,
button.go::after,
input[type=button].go::after,
input[type=submit].go::after {
  content: '';
  font-size: 18px;
  color: #fff;
  background-color: #ffca47;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 40px;
  text-align: center;
  line-height: 36px;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.button.go:hover,
button.go:hover,
input[type=button].go:hover,
input[type=submit].go:hover,
.button.go:active,
button.go:active,
input[type=button].go:active,
input[type=submit].go:active,
.button.go:focus,
button.go:focus,
input[type=button].go:focus,
input[type=submit].go:focus {
  background-color: transparent;
  color: #ffca47;
  text-decoration: none;
}

.button.with-icon,
button.with-icon,
input[type=button].with-icon,
input[type=submit].with-icon {
  padding-left: 25px;
  padding-right: 25px;
}

.button.with-icon i,
button.with-icon i,
input[type=button].with-icon i,
input[type=submit].with-icon i {
  margin-right: 8px;
}

.button.text-light,
button.text-light,
input[type=button].text-light,
input[type=submit].text-light {
  color: #fff;
}