{% extends "admin/base_site.html" %}

{% load static %}

{% block title %}
  Заказ {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url "admin:index" %}">Главная</a> ›
  <a href="{% url "admin:orders_order_changelist" %}">Заказы</a> ›
  <a href="{% url "admin:orders_order_change" order.id %}">Заказ {{ order.id }}</a> ›
  Детали
</div>
{% endblock %}

{% block content %}
  <h1>Заказ {{ order.id }}</h1>
  <ul class="object-tools">
    <li>
      <a href="#" onclick="window.print()">Распечатать заказ</a>
    </li>
  </ul>
  <table width="100%">
    <tr>
      <th>Создан</th>
      <td>{{ order.created }}</td>
    </tr>
    <tr>
      <th>Заказчик</th>
      <td>{{ order.first_name }} {{ order.last_name }}</td>
    </tr>
    <tr>
      <th>E-mail</th>
      <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
    </tr>
    <tr>
      <th>Адрес</th>
      <td>{{ order.address }}</td>
    </tr>
    <tr>
      <th>Номер телефона</th>
      <td>{{ order.number }}</td>
    </tr>
        <tr>
      <th>Комментарий</th>
      <td>{{ order.description }}</td>
    </tr>
    <tr>
      <th>Полная стоимость</th>
      <td>{{ order.get_total_cost }} руб.</td>
    </tr>
    <tr>
      <th>Статус</th>
      <td>{% if order.paid %}Оплачен{% else %}В ожидании оплаты{% endif %}</td>
    </tr>
  </table>

  <div class="module">
    <div class="tabular inline-related list-related">
      <table>
        <h2>Заказанные товары</h2>
        <thead>
          <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость всего</th>
          </tr>
        </thead>
        <tbody>
          {% for item in order.items.all  %}
            <tr class="row{% cycle "1" "2" %}">
              <td>{{ item.product.name }}</td>
              <td>{{ item.price }} руб.</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.get_cost }} руб.</td>
            </tr>
          {% endfor %}
          <tr class="total">
            <td colspan="3">Всего</td>
            <td class="num">{{ order.get_total_cost }} руб.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}