{% extends "cafe/base.html" %}

{% block title %}
  Ваша корзина 
{% endblock %}

{% block content %}
  <center style='color:#800000';><font face='Cursive';><h1>Ваш заказ: </h1></center></font>
  <table class="basket">
    <thead>
      <tr>
        <th>Изображение</th>
        <th>Блюдо</th>
        <th>Количество</th>
        <th>Удалить</th>
        <th>Полная цена</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      {% for item in basket %}
        {% with dish=item.dish %}
          <tr>
            <td class="basket-img">
              <a href="{{ dish.get_absolute_url }}">
                <img src="{{ dish.image.url }}" class="img-responsive" />
              </a>
            </td>
            <td>{{ dish.name }}</td>
            <td>
              <form action="{% url "basket:BasketAdd" dish.id %}" method="post" class="add">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                {% csrf_token %}
                <input style='background:#d2b48c; color:#f5deb3'' type="submit" value="Изменить">
              </form>
            </td>
            <td><p><strong><a style='color:#800000' href="{% url "basket:BasketRemove" dish.id %}">Удалить</a></td></strong></p>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total_price }} руб.</td>
          </tr>
        {% endwith %}

      {% endfor %}
        {% if basket.promocode %}
          <tr class="subtotal">
            <td><p><strong><center>Сумма без скидки:</td></center></strong></p>
            <td colspan="4"></td>
            <td>{{ basket.get_total_price }}</td>
          </tr>
          <tr>
            <td><p><strong><center>
              "{{ basket.promocode.code }}" промокод на ({{ basket.promocode.discount }} % ниже)
            </strong></p></center></td>
            <td colspan="4"></td>
            <td class="num discount">- {{ basket.get_discount|floatformat:"2" }} руб.</td>
          </tr>
        {% endif %}
        <tr class="total">
          <td colspan="4"></td>
          <td><p><center><strong class="num">Итого: {{ basket.get_total_price_after_discount|floatformat:"2" }} руб.</center></td></strong></p>
        </tr>
    </tbody>
  </table>

  <center><p style='background:#d2b48c; color:#800000'>Применить промокод</p>
  <form action = "{% url 'promocode:apply' %}" method="post" class="add">
    {% csrf_token %}
    {{promocode_apply_form }}
    <input style='background:#d2b48c; color:#f5deb3' type="submit" value="Применить">
  </form></center>

  <p class="text-center">
    <a style='background:#d2b48c; color:#800000' href="{% url "cafe:DishList"%}" class="btn">Продолжить выбор блюд</a>
    <a style='background:#d2b48c; color:#800000' href="{% url "orders:OrderCreate" %}" class="btn">Оформить заказ</a>
  </p>
{% endblock %}

