{% extends "cafe/base.html" %}

{% load static %}

{% block title %}
  {{ dish.name }}
{% endblock %}
{% block content %}
  <center><div class="dish-detail">
    <div class="col-sm-4">
      <img src="{% if dish.image %}{{ dish.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive">
    </div>
    <div class="col-sm-8">
      <h1 style='color:#800000';>{{ dish.name }}</h1>
      <span>{{dish.description | linebreaks}}</span>
      <h2><a href="{{ dish.category.get_absolute_url }}">{{ dish.category }}</a></h2>
      <p class="price">{{ dish.price }} руб.</p>
    <form action="{% url "basket:BasketAdd" dish.id %}" method="post">
    {{ basket_dish_form }}
    {% csrf_token %}
    <input type="submit" value="Добавить в корзину">
</form>
    </div>
  </div></center>
{% endblock %}

