{% extends 'cafe/base.html' %}

{% load static %}

{% block title %}
  {% if category %} {{ category.name }} {% else %} BonAppetit! {% endif %}
{% endblock %}

{% block content %}
  <center><p><img src="https://www.artegusto.ru/assets/upload/photo/%D0%A1%D1%82%D0%B0%D1%82%D1%8C%D0%B8/%D0%92%D0%BA%D1%83%D1%81%20%D0%B5%D0%B4%D1%8B/fcus-small.jpg" alt="BonAppetit"></p></center>
  
  <div id="main" class="dish_list col-sm-9">
    <center><font face='Cursive';><h1 style='color:#800000; background:#eee8aa; outline: 1px solid #800000; border: 6px solid #fff0f5;border-radius: 15px';>{% if category %}{{ category.name }}{% else %}Блюда{% endif %}</h1></center></font>
    <div style='color:#800080'; class="items row">
      {% for dish in dishs %}
        <div class="item col-sm-4">
          <a href="{{ dish.get_absolute_url }}">
            <center><img src="{% if dish.image %}{{ dish.image.url }}{% else %}{% static "img/no-image.jpg"%}{% endif %}" class="img-responsive"></center>
          </a>
          <a href="{{ dish.get_absolute_url }}" style='color:#800000;><font face='Cursive';>{{ dish.name }}</a><br>
          {{ dish.price }} руб.
        </div></font></br>
      {% endfor %}
    </div>
  </div>
  <div id="sidebar" class="col-sm-3">
    <h1  id="sidebar" style='color:#800000; background:#eee8aa; outline: 1px solid #800000; border: 6px solid #fff0f5;border-radius: 15px';><font face='Cursive';><center>Категории</h1></font>
    <ul>
      <center style='outline: 1px solid #800000;''><li {% if not category %} class="selected" {% endif %}>
        <a style='color:#800000'; href="{% url "cafe:DishList" %}">Все</a></center>
      </li>
      {% for cat in categories %}
        <center><li {% if category.slug == cat.slug %} class="selected" {% endif %}>
          <a style='color:#800000'; href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
        </li></center>
      {% endfor %}
    </ul>
  </div>



<div id="sidebar" class="col-sm-3">
    <h1  id="sidebar" style='color:#800000; background:#eee8aa; outline: 1px solid #800000; border: 6px solid #fff0f5;border-radius: 15px';><font face='Cursive';><center>Промокоды:</h1></font>
    <ul style='color:#800000'>

      <center><li><strong>Sale</strong> - 10% скидка (до 26.06)</li>
      <li><strong>BonAppetitWelcome</strong> - 30% скидка (до 15.06)</li></center>
    </ul>
  </div>



<div id="sidebar" class="col-sm-3">
    <h1  id="sidebar" style='color:#800000; background:#eee8aa; outline: 1px solid #800000; border: 6px solid #fff0f5;border-radius: 15px';><font face='Cursive';><center>Доставка:</h1></font>
    <ul style='color:#800000'>

      <center><li><strong><h3>100 руб:</h3></strong> Центральный, Адмиралтейский, Василеостровский,Петроградский р-ны </li>
      <li><strong><h3>300 руб:</h3></strong>Кировский, Московский, Невский, Фрунзенский, Приморский, Выборгский р-ны</li>
      <li><strong><h3>Бесплатно:</h3></strong> В любой район в пределах КАД при заказе от 1500 руб. </li>
      <li><strong>Доставка оплачивается курьеру при доставке</li></strong></center>
    </ul>
  </div>

<div id="sidebar" class="col-sm-3">
    <h1  id="sidebar" style='color:#800000; background:#eee8aa; outline: 1px solid #800000; border: 6px solid #fff0f5;border-radius: 15px';><font face='Cursive';><center>Контакты:</h1></font>
    <ul style='color:#800000'>

      <center><li><strong><h3>Email:</h3></strong> bonnappettite@gmail.com </li>
      <li><strong><h3>Номер телефона:</h3></strong>+7 965 017 5595</li>
</center>
    </ul>
  </div>


<div id="sidebar" class="col-sm-3"><h1  id="sidebar" style='color:#800000; background:#eee8aa; outline: 1px solid #800000; border: 6px solid #fff0f5;border-radius: 15px';><font face='Cursive';><center>Онлайн-чат:</h1></font> <ul style='color:#800000'>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" ></script>
<script type="text/javascript" src="https://comet-server.ru/CometServerApi.js" ></script>
<script type="text/javascript" src="https://comet-server.ru/doc/html_chat.js" ></script>
<link rel="stylesheet" type="text/css" href="https://comet-server.ru/doc/html_chat.css"></link>
 
<div id="html-chat"></div>
<style>
.holder-html-chat{ border: 1px solid #ccc;padding:10px;background-color: #fafad2; width: 250px;height:500px;}
.html-chat-history{ max-width: 600px; overflow: auto;max-height: 900px;height:200px; border: 1px solid #ccc;padding: 5px;background:#fffacd;}
.html-chat-js-name{ margin-top:10px; background:#fffacd; width: 230px; }
.html-chat-js-input{ max-width: 600px;max-height: 100px;width: 230px;height:200px ;margin-top:10px;background:#fffacd; }
.html-chat-js-button-holder{ margin-bottom: 0px;margin-top: 10px; }
.html-chat-js-button-holder input{ width: 220px; }
.html-chat-js-answer{ float:right; }
.html-chat-js-answer a{ color: #777;font-size: 12px; font-family: cursive;}
.html-chat-js-answer a:hover{ color: #338;font-size: 12px; font-family: cursive;}
.html-chat-msg{ margin: 0px; }
</style>
 
<script>
    $(document).ready(function()
    {
       CometServer().start({dev_id: 1619 })
       htmljs_Chat_Init( $("#html-chat") )
    });
</script></ul></div>

{% endblock %}</code>
</pre>