{% extends "cafe/base.html" %}

{% block title %}
  Оформление заказа
{% endblock %}

{% block content %}
<center><h1 style='color:#800000';>Оформление заказа</h1></center>
 <center>
    <h2>Ваш заказ:</h2>
      {% for item in basket  %}
        <center><li>
          {{ item.dish.name }} | Количество: {{ item.quantity }} | Цена: {{ item.total_price }}
        </li></center>
      {% endfor %}
      {% if basket.promocode %}
        <li>
          Промокод "{{ basket.promocode.code }}" (на {{ basket.promocode.discount }}% меньше)
          <span> - {{ basket.get_discount|floatformat:"2"}} руб.</span>
        </li>
      {% endif %}
    <p><strong><b>Всего:</strong> {{ basket.get_total_price_after_discount|floatformat:"2"}} руб.</p></b>
</center>


    <center><h2><center>Заполните форму:</center></h2></center>
    <form class="order-form" action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="submit" value="Отправить">
    </form>
 
{% endblock %}

