{% extends "cafe/base.html" %}

{% block title %}
  Спасибо за заказ
{% endblock %}

{% block content %}
  <center><h1 style= 'color:#800000;'>Спасибо за заказ!</h1>
  <p style= 'color:#800000;'>Благодарим вас за покупку!</p></center>