<html>
  <body>
    <h1>Онлайн-магазин</h1>
    <p>
      Номер заказа: <b>{{ order.id }}</b> <br>
      <span class="secondary">
        {{ order.created }}
      </span>
    </p>
    <h3>Покупатель</h3>
    <p>
      {{ order.first_name }} {{ order.last_name }}<br>
      {{ order.email }} <br>
      {{ order.address }} <br>
      {{ order.postal_code }}, {{ order.city }}
    </p>
    <h3>Купленные товары</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Товар</th>
          <th>Стоимость</th>
          <th>Количество</th>
          <th>Всего</th>
        </tr>
      </thead>
      <tbody>
        {% for item in order.items.all %}
          <tr class="row{% cycle "1" "2" %}">
            <td>{{ item.product.name }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.get_cost }}</td>
          </tr>
        {% endfor %}
        <tr class="total">
          <td colspan="3">Всего:</td>
          <td class="num">{{ order.get_total_cost }}</td>
        </tr>
      </tbody>
    </table>
    <span class="{% if order.paid %}paid{% else %}pending{% endif %}">
      {% if order.paid %}Оплачен{% else %}Ожидает оплаты{% endif %}
    </span>
  </body>
</html>