{% extends "cafe/base.html" %}

{% block title %}Успешная оплата{% endblock %}

{% block content %}
  <center><h1 style= 'color:#800000;'>Успешная оплата!</h1>
  <h2 style= 'color:#800000;'>Благодарим вас за покупку!</h2>
  <h3 style= 'color:#800080;'>Bon Appetit!</h3></center>
{% endblock %}