{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% static "bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body style='background:#fffacd'>
  <center><p><img src="http://static1.squarespace.com/static/54878917e4b09cb7ec706a8d/t/54f4dd51e4b0447d468ecd6e/1495900043058/?format=750w" alt="BonAppetit"></p>
</center>
  <section id="header">

    <div class="top-bl">
      <div class="container">
       <font face='Cursive';><div class="basket">
    {% with total_items=basket|length %}
        {% if basket|length > 0 %}
            Ваш заказ:
            <a  style='color:#800000'; href="{% url "basket:BasketDetail" %}">
                {{ total_items }} тов. {{ basket.get_total_price }} руб.
            </a>
         {% else %}
              
        {% endif %}
    {% endwith %}
</div></font>
    </div>
  </section><center><div id="cp_widget_5c4ed70a-4b19-4b2f-b363-7693758bbfb9">...</div><script type="text/javascript">
var cpo = []; cpo["_object"] ="cp_widget_5c4ed70a-4b19-4b2f-b363-7693758bbfb9"; cpo["_fid"] = "AwBAK9tsmrwd";
var _cpmp = _cpmp || []; _cpmp.push(cpo);
(function() { var cp = document.createElement("script"); cp.type = "text/javascript";
cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
var c = document.getElementsByTagName("script")[0];
c.parentNode.insertBefore(cp, c); })(); </script><noscript><span>Online cafe</span><span>Online cafe music </span></noscript></center>
  <section id="content row" class="container">
    {% block content %}{% endblock %}
  </section>
</body>
</html>
